<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% include about_details %>
      <li role="separator" class="divider"></li>
      <li class="dropdown-submenu">
        <a href="#">Mentors</a>
        <ul class="dropdown-menu">
          <li><a href="#">Instructor Denise Case</a></li>
          <li><a href="#">Instructor Michael Rogers</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Assistant Surya Chandra Phani Santhosh Dulam</a></li>
          <li><a href="#">Assistant Santhosh Bonala</a></li>
          <li><a href="#">Assistant Durga Charan Potukuru</a></li>
        </ul>
      </li>
  </ul>
</li>