<li class="dropdown-submenu">
  <a href="#">2018 Spring Web Apps Section 03</a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about/t1">Team 1</a>
      <ul class="dropdown-menu">
        <li><a href="/about/GirishGuntuku">Girish Guntuku</a></li>
        <li><a href="/about/DattuBhargavMedarametla">Dattu Bhargav Medarametla</a></li>
        <li><a href="/about/CharanGurudu">Saicharan Gurudu</a></li>
      </ul>
    </li>
  </ul>
</li>