</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2017</p>
    <p class="text-muted"><a href="https://bitbucket.org/GirishGuntuku/project-01" target="_blank">Repository</a></p>
  </div>
</footer>