<br/>
<br/>
<h2>flight details</h2>
<br/>
<br/> ID:
<%=  flight._id %>
  <br> Name:
  <%=flight.name%>
    <br/> Starting Point:
    <%=flight.startingPoint%>
      <br/> Ending Point:
      <%=flight.endingPoint%>
        <br/> Duration (Hours):
        <%=flight.durationHours%>
          <br/> Pilot ID:
          <%=flight.pilotId%>
            <br/> Plane ID:
            <%=flight.planeId%>
        <br/>
        <br/>
            <form method="get" action="/flight">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>