<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="flight/create" class="btn btn-primary new">
        Create a new flight
      </a>
      <h2>Recent flight entries</h2>
      <p>There are
        <%= flights.query.length %> flights.
          <br/>
      </p>



      <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                ID:
              </th>
              <th>
                Name:
              </th>
              <th>
                Starting Point
              </th>
              <th>
                Ending Point
              </th>
              <th>
                  Duration (Hours):
              </th>
              <th>
                Pilot Id
              </th>
              <th>
                Plane Id
              </th>
              <th colspan="3">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
  
  
      <% for (var i = flights.query.length-1; i >= 0; i--) {   
        flight = flights.query[i];   %>





        <tr>
          <td>  
            <%=  flight._id %>
          </td>
            <td>
              <%=flight.name%>
            </td>
            <td>
              <%=flight.startingPoint%>
            </td>
            <td>  
              <%=flight.endingPoint%>
            </td>
              <td>  
                <%=flight.durationHours%>
              </td>
                <td>  
                  <%=flight.pilotId%>
                </td>
                  <td>  
                    <%=flight.planeId%>
                  </td>
                  <td>
                      <a href="/flight/delete/<%= flight._id  %>" class="btn btn-danger"> Delete </a>
                  </td>
            <td>
              
                <a href="/flight/details/<%= flight._id %>" class="btn btn-info"> Details </a>
            </td>
            <td>
              
                <a href="/flight/edit/<%= flight._id %>" class="btn btn-warning"> Edit </a>
            </td>
        </tr>
       
        <% } %>
          </tbody>
          </table>
          
    </div>
  </div>
</div>