
<div class="jumbotron" style=" background-color:rgba(28, 161, 179, 0.616); width: auto">
    <div class="container">
        <div style="text-align:center; margin-top: 60px;">
         <div >
           <img style="height:200px;width:200px" src="https://imgur.com/8uqzeSO.jpg" >
           <h1>Sai Charan Gurudu</h1>
<h3>Software Engineer</h3>
         </div>
        
 
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <!-- referred w3schools.com to learn how to post a video on webpage -->
          <h2>Lebron James</h2>
          <iframe src="https://www.youtube.com/embed/YStX4s4R1bc"></iframe>
          <p></p>
          <p><a class="btn btn-default" href="https://www.youtube.com/embed/YStX4s4R1bc" role="button">View</a></p>
        </div>
        <div class="col-md-6">
          <h2>Kobe Braynat</h2>
          <iframe src="https://www.youtube.com/embed/tjRCk0JV"></iframe>
 
          
         
          <p><a class="btn btn-default" href="https://www.youtube.com/embed/tjRCk0JV" role="button">View</a></p>
       </div>
      
      </div>
