<h1>Dattu Bhargav Medarametla</h1>
<h1>Software Devolper</h1>
<div class="jumbotron" style=" background-color:rgba(28, 161, 179, 0.616); width: auto">
    <div class="container">
        <div style="text-align:center; margin-top: 60px;">
         <div >
           <img style="height:200px;width:200px" src="https://bytebucket.org/dattubhargav/a03medarametla/raw/8bd3a8bb5afd17fe228b87a407da98c254fff72d/assets/hi.jpg" >
         </div>
        
 
  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <!-- referred w3schools.com to learn how to post a video on webpage -->
          <h2>About Bootstrap</h2>
          <iframe src="https://www.youtube.com/embed/gqOEoUR5RHg?ecver=2"></iframe>
          <p></p>
          <p><a class="btn btn-default" href="https://www.youtube.com/embed/gqOEoUR5RHg?ecver=2" role="button">View</a></p>
        </div>
        <div class="col-md-6">
          <h2>Soccer</h2>
          <iframe src="https://www.youtube.com/embed/dzjpUQTWc20?ecver=2"></iframe>
 
          
         
          <p><a class="btn btn-default" href="https://www.youtube.com/embed/dzjpUQTWc20?ecver=2" role="button">View</a></p>
       </div>
      
      </div>
