<body background="background.jpg">
   
           <div class="row">
        <div class="span4" >
            <img class="center-block img-circle" src="https://scontent.fcou1-1.fna.fbcdn.net/v/t1.0-1/p160x160/24899738_1645193915518750_6139174901093934029_n.jpg?_nc_cat=0&oh=bf2795ad9c36e50f78f0844c7b758574&oe=5B62A8CB" width="300" height="350"/>
        </div>
       
        
    </div>
    <div class="row" id="about">
        <div><tittle><h3>
                 GIRISH GUNTUKU</h3>
                </tittle></div>
        <div class="col-md-6">
            <h3>CURRENT</h3>
            <p>*I am newly enrolled person of the spring 2018 batch at NWMSU. </p>
            <p>*I am pursuing  masters in Applied Computer Science.</p>
            <h3> BACKGROUND </h3>
            <P>*I am from of INDIA and my home town is Hyderabad.</p>
            <p>*I had received my Bachelors of Engineering from Jntu.</p>
            <p>*My major in B.Tech. is Computer Science and  Engineering.</P>
            <p>*I had no work experience and i passed out recent year 2017 only.</p>
        </div>
        
        <div class="col-md-6">
            <h3> PLANS </h3>
            <p>*I am looking forward to enhance the technical and practical skills in masters </p>
            <p>*I would like to work as a Project Manager </P>
            <h3> HOBBIES </h3>
            <p>*Playing cricket and football </p>
            <p>*Also I like to watch the web series </p>
            
        </div>

       
        
    </div>
    
    <div>
            <div class="row"></div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/wxQR5kokq68" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <div class="col-md-4"></div>
    </div>

    

</body>

