<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="plane/create" class="btn btn-primary new">
        Create a new plane
      </a>
      <h2>Recent plane entries</h2>
      <p>There are
        <%= planes.query.length %> planes.
          <br/>
      </p>
  
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              ID:
            </th>
            <th>
              Tail Number:
            </th>
            <th>
              Num Seats:
            </th>
            <th>
              Fuel capacity:
            </th>
            <th colspan="3">
                Actions
            </th>
          </tr>
        </thead>
        <tbody>
  
      <% for (var i = planes.query.length-1; i >= 0; i--) {   
        plane = planes.query[i];   %>

        <tr>
          <td>
            <%=  plane._id %>

          </td>
          <td>
            <%=plane.tailNumber%>

          </td>
          <td>
            <%=plane.numSeats%>

          </td>
          <td>
            <%=plane.fuelCapacity%>

          </td>

          <td>
            <a href="/plane/delete/<%= plane._id  %>" class="btn btn-danger"> Delete </a>
          </td>
          <td>
            <a href="/plane/details/<%= plane._id %>" class="btn btn-info"> Details </a>
          </td>
          <td>
            <a href="/plane/edit/<%= plane._id %>" class="btn btn-warning"> Edit </a>
          </td>
        </tr>

        <% } %>
      </tbody>
    </table>

    </div>
  </div>
</div>